@font-face {
  font-family: 'SF Pro Text';
  src: url('/fonts/SFProTextRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SFProDisplayRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
